@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }

  .destination {
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, hwb(249 7% 6% / 0.849) 50%);
  }
  

  